.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 0 0 .25rem 0;

    .avatarImage { 
        height: 2rem;
        width: 2rem;
        border-radius: 12px;
        display: flex;
    }
}