.container {
    display: flex;
    flex-direction: row;
    position: sticky;
    height: 12em;
    flex-wrap: wrap;
    overflow: scroll;
    flex-basis: 25%;

    ::-webkit-scrollbar {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        background-color: $dark-blue;
    }

    button {
        appearance: none;
        border-color: transparent;
        border: none;
        background-color: rgb(255, 255, 255);
        height: 6rem;
        width: 25%;
        margin: 0 0 .25rem 0;

        @media (prefers-color-scheme: dark) {
            background-color: $dark-blue;
        }


        @media screen and (min-width: 481px) {
            width: 25%;
        }

        @media screen and (min-width: 1023px) {
            width: 20%;
        }

        @media screen and (min-width: 1023px) {
            width: 10%;
        }

        @media screen and (min-width: 2439px) {
            width: 5%;
        }

        img {
            height: 100%;
            width: 100%;

            @media (prefers-color-scheme: dark) {
                color: $dark-blue;
            }
        }
    }
}