$white: white;
$light-grey: lightgray;

// dark mode
$dark-blue: #070F2B;
$light-teal: #9290C3;
$grey: #535C91;
$dark-disabled: #1B1A55;

// screen sizes
$mobile: 481px;
$tvScreen: 1079px;
$wideScreen: 1439px;
$ultraWideScreen: 2439px;