.container { 
    display: flex;
    flex-direction: row;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;

        .username {
            font-weight: bold;
            margin: 0 .5rem 0 0;
        }

        .time {
            color: grey;
        }  
    }

    .text-container {
        display: flex;
        align-items: start;
    }

    .content {
        margin: 0 0 1rem 0;
    }

}